{% extends 'base.html' %}

{% block body %}
<a class="title" href="/users/{{user.id}}"> 
    <img class="prof-pic" src="{{user.image_url}}" alt="Back to {{user.first_name}}'s page">
    <h3>{{user.first_name}}</h3>
</a> 
<div id="info">
    {% block posttitle %}
    <h2>New Post</h2>
    <form action="/users/{{user.id}}/newpost" method="POST"> 
    {% endblock %}
        <input class="edit" type="text" name="title" placeholder="Title for your story."> 
        <textarea class="edit" rows="7" type="text" name="content" placeholder="Your story goes here.">
            {% block content %}{% endblock %}
        </textarea>
        <div style="width: 400px; margin-top: 25px; margin-bottom: 25px;">
            Add Tags:
            {% block tags %}
            {% endblock %}
            <a class="button" href="/tags/newtag" style="padding: 2px; border-width: 2px;" method="GET">add another tag?</a>
        </div>
        <button class="button" type="submit">SAVE</button>
    </form>
    <a class='button delete' href="/users/{{user.id}}">Cancel</a>
</div>
{% endblock %}