{% extends 'base.html' %}

{% block body %}

{% for msg in get_flashed_messages() %}
    
<p class="flash">{{msg}}</p>

{% endfor %}

<ul>Total Blogly users

{% for user in users %}

    <li> 
        <a href="/users/{{user.id}}"> 
            <img src="{{user.image_url}}" alt="see {{user.first_name}}'s details" class="prof-pic">
            {{user.first_name}} {{user.last_name}}
        </a>
    </li>

{% endfor %}

</ul>

<a href="/users/new" class="button"> Create New User </a>
<a href="/tags" class="button">Topics</a>
{% endblock %}