<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Number Facts</h1>
    <h2>Learn something new about your Favorite Number!</h2>
    <form id="num-form">
        <input id="num-input" type="text" placeholder="Favorite Number(s) Here">
        <button type="submit">Submit</button>
        <button id="fourx" type="button">4X</button>
    </form>
    <div id="fact-list"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/promises.js"></script>

</body>
</html>