<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter form</title>
</head>
<body>
    <h1>The Greeter on the Roof</h1>
    <!-- the action here requests the greet route with the info provided -->
    <form action="/greet">
        <input type="text" placeholder="Your Name Here" name="username">
        <button>Submit or DIE</button>
    </form>
    
</body>
</html>