input {
    display: block;
}

button {
    margin-top: 15px;
    background-color: white;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: royalblue;
}

button:hover {
    transition-duration: 100ms;
    background-color: royalblue;
}