<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Draw a Card</title>
</head>
<body>
    <h1>Try your Luck</h1>
    <button id="one-card-new-deck" class="button">One Card, Single New Deck</button>
    <button id="keep-drawing" class="button">Draw from the same Deck</button>

    <div id="cards">
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/async.js"></script>

</body>
</html>