.App {
  margin: 30px;
}

.App-logo {
  height: 40 min;
  pointer-events: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to top left, ghostwhite, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}