<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul id="cupcake-list"></ul>
    <form id="cupcake-form"> Add new Cupcakes
        <input type="text" id="flavor" placeholder="flavor" required>
        <input type="text" id="size" placeholder="size" required>
        <input type="integer" id="rating" placeholder="integer" required>
        <input type="url" id="image" placeholder="image" >
        <button>Submit</button>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/lodash"></script>
    <script src="static/cupcakes.js"></script>
</body>
</html>